* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(137, 221, 224, 1) 100%
  );
}

/*--------- section1 / montains ----------*/

.montains {
  width: 100%;
  height: 45%;
  display: flex;
  position: relative;
  top: 55%;
  /*align-content: space-around;*/
}

/*------ group montain1 ------*/

.group-montain1 {
  width: 40%;
  height: 100%;
  background: rgb(165, 242, 187);
  background: linear-gradient(
    0deg,
    rgba(165, 242, 187, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  z-index: 1;
}

.group-montain1 > .montain1 {
  width: 95%;
  height: 15%;
  background: rgb(45, 253, 104);
  background: linear-gradient(
    0deg,
    rgba(45, 253, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 50% 100% 30% 0 / 50% 100% 50% 0;
  position: absolute;
  z-index: 2;
}

.group-montain1 > .montain2 {
  width: 95%;
  height: 85%;
  background: rgb(45, 253, 104);
  background: linear-gradient(
    0deg,
    rgba(45, 253, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  clip-path: ellipse(74% 48% at 16% 50%);
  /*clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%);*/
  position: absolute;
  z-index: 3;
  top: 5%;
}

.group-montain1 > .montain3 {
  width: 35%;
  height: 35%;
  background: rgb(45, 253, 104);
  background: linear-gradient(
    0deg,
    rgba(45, 253, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 0 100% 0 0;
  position: absolute;
  z-index: 4;
  top: 65%;
}

/*----- group montain2 ------*/

.group-montain2 {
  width: 50%;
  height: 100%;
  background: rgb(165, 242, 187);
  background: linear-gradient(
    0deg,
    rgba(165, 242, 187, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: relative;
  left: 50%;
  z-index: 1;
}

.group-montain2 > .montain4 {
  width: 95%;
  height: 60%;
  background: rgb(45, 253, 104);
  background: linear-gradient(
    0deg,
    rgba(45, 253, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 100% 0 0 100% / 100% 0 0 100%;
  position: absolute;
  right: 0;
  z-index: 2;
}

.group-montain2 > .montain5 {
  width: 50%;
  height: 50%;
  background: rgb(45, 253, 104);
  background: linear-gradient(
    0deg,
    rgba(45, 253, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 100% 80% 0 100%;
  position: absolute;
  z-index: 3;
  top: 40%;
  right: 0;
}

.group-montain2 > .montain6 {
  width: 55%;
  height: 35%;
  background: rgb(45, 253, 104);
  background: linear-gradient(
    0deg,
    rgba(45, 253, 104, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  /*border-radius: 0 100% 0 0;*/
  border-radius: 100% 0 0 0;
  position: absolute;
  z-index: 4;
  top: 65%;
  right: 0;
}

/*------ River ------*/

.river {
  width: 13%;
  height: 100%;
  position: relative;
  left: -11%;
  z-index: 4;
  background: rgba(137, 221, 224, 1);
}

.river > .curve1 {
  width: 20%;
  height: 100%;
  border-radius: 0 100% 100% 0;
  background: rgb(165, 242, 187);
  background: linear-gradient(
    0deg,
    rgba(165, 242, 187, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: absolute;
  z-index: 1;
}

.river > .curve2 {
  width: 20%;
  height: 100%;
  border-radius: 100% 0 0 100%;
  background: rgb(165, 242, 187);
  background: linear-gradient(
    0deg,
    rgba(165, 242, 187, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  left: 80%;
  position: absolute;
  z-index: 1;
}

.sun-could {
  width: 100%;
  height: 55%;
  position: relative;
  top: -45%;
}

/*-------- section2 / sun-container --------*/

.sun-container {
  width: 50%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 30%;
  padding-top: 9%;
  z-index: 1;
}

.sun-container > .circle-sun {
  width: 15%;
  height: 30%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 255, 41, 1) 100%
  );
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.sun-container > .ray1 {
  width: 50%;
  height: 2%;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 255, 41, 1) 100%
  );
  position: absolute;
  z-index: 0;
}

.sun-container > .ray2 {
  width: 50%;
  height: 2%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 255, 41, 1) 100%
  );
  position: absolute;
  z-index: 0;
  transform: rotate(45deg);
}

.sun-container > .ray3 {
  width: 50%;
  height: 2%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 255, 41, 1) 100%
  );
  position: absolute;
  z-index: 0;
  transform: rotate(90deg);
}

.sun-container > .ray4 {
  width: 50%;
  height: 2%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(254, 255, 41, 1) 100%
  );
  position: absolute;
  z-index: 0;
  transform: rotate(135deg);
}

/*--------- Section 3 / cloud ----------*/

.cloud {
  width: 25%;
  height: 20%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.cloud > .circle1 {
  width: 30%;
  height: 50%;
  background-image: radial-gradient(
    circle at 50% -8.92%,
    #ffffff 0,
    #f0f2fb 50%,
    #d9dff4 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 40%;
}

.cloud > .circle2 {
  width: 30%;
  height: 50%;
  background-image: radial-gradient(
    circle at 50% -8.92%,
    #ffffff 0,
    #f0f2fb 50%,
    #d9dff4 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 15%;
}

.cloud > .circle3 {
  width: 30%;
  height: 50%;
  background-image: radial-gradient(
    circle at 50% -8.92%,
    #ffffff 0,
    #f0f2fb 50%,
    #d9dff4 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 30%;
}

.cloud > .circle4 {
  width: 30%;
  height: 50%;
  background-image: radial-gradient(
    circle at 50% -8.92%,
    #ffffff 0,
    #f0f2fb 50%,
    #d9dff4 100%
  );
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 15%;
}

.cloud1 {
  top: -25%;
  left: 3%;
}

.cloud2 {
  top: -15%;
  left: 20%;
}

.cloud3 {
  top: -95%;
  left: 20%;
}

.cloud4 {
  width: 25%;
  height: 20%;
  top: -55%;
  left: 75%;
}

.cloud5 {
  width: 19%;
  height: 13%;
  top: -130%;
  left: 65%;
}

.cloud6 {
  width: 20%;
  height: 15%;
  top: -115%;
  left: 80%;
}
